.list-item {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px red dashed;
    text-align: center;
    cursor: pointer;
}

.list-item p {
    font-size: 2em;
}

.list-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px red dashed;
    object-fit: contain;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.animated-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px plum solid;
    align-content: flex-start;
    border-radius: 20px;
    margin: 0px 40px;
    width: 30%;
    align-content: flex-start;
    justify-content: center;
}