.list-item {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px red dashed;
    text-align: center;
    cursor: pointer;
}

.list-item p {
    font-size: 2em;
}

.list-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px red dashed;
    object-fit: contain;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.animated-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px plum solid;
    border-radius: 20px;
    margin: 0px 40px;
    width: 30%;
    align-content: flex-start;
    justify-content: center;
}

.button {
    border: 3px whitesmoke solid;
    border-radius: 20px;
    padding: 10px 17px;
    color: blue;
    background-color: powderblue;
    font-family: 'Gill Sans', 'Gill Sans MT';
    margin: auto;
}

.button-wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}