<div class="container">
  <ListOfElements
    @elements = {{@elements.leftList}}
    @onFaceClicked={{@toggleElementsBetweenLists}}
  />
  
  <ListOfElements
    @elements={{@elements.rightList}}
    @onFaceClicked={{@toggleElementsBetweenLists}}
  />
</div>