<div class="container">
  <ListOfElements
    @elements = {{@elements.available}}
    @onFaceClicked={{@toggleElementsBetweenLists}}
  />
  
  <ListOfElements
    @elements={{@elements.allocated}}
    @onFaceClicked={{@toggleElementsBetweenLists}}
  />
</div>