<div class="resource-container">
  <ResourcesList
    @elements = {{@elements.available}}
    @onFaceClicked={{@toggleElementsBetweenLists}}
  />
  
  <ResourcesList
    @elements={{@elements.allocated}}
    @onFaceClicked={{@toggleElementsBetweenLists}}
  />
</div>